<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bouquets</title>
</head>
<body>
    <a href="{% url 'story_create_url' %}">Create New Stories</a>
    <br>
    <a href="{% url 'post_list_url' %}"> Show Posts </a>
    <br>
    <a href="{% url 'flower_list_url' %}">Show Flowers</a>
    <br>
    <a href="{%url 'cars_url'%}">Show Cars</a>
    <br>
    <h1>Our Bouquets:</h1>
    <a href="{% url 'bouquets_create_url' %}">Create New Bouquet</a>
    {% for bouquet in bouquets %}
        <h3>{{ bouquet.name }}</h3>
        <a href="{% url 'bouquets_detail_url' bouquet.id %}">Get Info</a>
    {% endfor %}
</body>
</html>