{% extends 'base.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'post_list_url' %}"> Show Posts </a>
    <br>
    <a href="{% url 'flower_list_url' %}">Show Flowers</a>
    <br>
    <a href="{% url 'story_list_url' %}">Show Stories</a>
    <br>
    <a href="{% url 'bouquets_url' %}">Show Bouquets</a>
    <br>
    <ul>
        {% for car in cars %}
            <li>{{ car.brand }} - {{car.model}}</li>
            <p>
                <a href="{% url 'car_detail_url' car.id %}">Get Info</a>
            </p>
        {% endfor %}
    </ul>
{% endblock %}