{% extends 'base.html' %}
{% load static %}
{% block content %}

    <a href="{% url 'story_create_url' %}">Create New Stories</a>
    <br>
    <a href="{% url 'post_list_url' %}"> Show Posts </a>
    <br>
    <a href="{% url 'flower_list_url' %}">Show Flowers</a>
    <br>
    <a href="{%url 'cars_url'%}">Show Cars</a>
    <br>
    <a href="{% url 'bouquets_url' %}">Show Bouquets</a>
    <br>
    {% for story in stories %}
        <h3>{{ story.id }}.{{ story.author }}.{{story.expired_at }}.{{story.created_at }} - {{ story.body }}</h3>
        <a href="{% url 'story_detail_url' story.id %}">Show Story</a>
    {% endfor %}

{% endblock %}