<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>story list view</title>
</head>
<body>
    <a href="{% url 'story_create_url' %}">Create New Stories</a>
    <br>
    <a href="{% url 'post_list_url' %}"> Show Posts </a>
    <br>
    <a href="{% url 'flower_list_url' %}">Show Flowers</a>
    <br>
    {% for story in stories %}
        <h3>{{ story.id }}.{{ story.author }}.{{story.expired_at }}.{{story.created_at }} - {{ story.body }}</h3>
        <a href="{% url 'story_detail_url' story.id %}">Show Story</a>
    {% endfor %}

</body>
</html>